<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xyf.mapper.StarUserMapper">
    <select id="selectAll" resultType="StarUser">
        select * from staruser
    </select>

    <select id="select" resultType="StarUser">
        select * from staruser where id = #{uid}
    </select>

    <insert id="insert" parameterType="StarUser">
        insert into staruser (name,pwd) values (#{name},#{pwd})
    </insert>

    <update id="update" parameterType="StarUser">
        update staruser set name=#{name},pwd=#{pwd} where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from staruser where id = #{uid}
    </delete>
</mapper>