<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="cn.xyf">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <Patternlayout>
                <replace regex="(\n)([^$])" replacement="$1  $2"/>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%pid] [%t] [%c{1}] [%logId] %m%n%throwable</pattern>
            </Patternlayout>
        </Console>
        <RollingFile name="RollingFile" fileName="./log/app.log" filePattern="./log/app.log.%d{yyyy-MM-dd}">
            <PatternLayout>
                <replace regex="(\n)([^$])" replacement="$1  $2"/>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p [%pid] [%t] [%c{1}] [%logId] %m%n%throwable</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <!--<AppenderRef ref="RollingFile" />-->
        </Root>
    </Loggers>
</Configuration>